.main{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 10px;
}

.sidebar{
    background-color : #f5f9fa;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 2 / 12
}

.bodycontent{
    background-color:#f5f9fa;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row: 2 / 12;
    border: 2px solid rgb(151, 144, 144);
    border-radius: 8px
}

.table_design{
    border: 2px solid black;
    padding: 10px;
    margin: 45px;
    min-height: 40px

}

.table_body{
    border: 1px solid black
}

.table_data{
    border: 1px solid black;
    text-align: center;
    padding: 5px
}

.live_order{
    margin: 300px;
}


#components-layout-demo-responsive .logo {
    height: 32px;
    background: rgba(255,255,255,.2);
    margin: 16px;
  }


  .ant-layout-header{
      padding: 0px;
      height: 64px;
      line-height: 64px;
      background: #a6dbe9;
  }

  .ant-avatar{
      position: fixed;
      margin-left: 79%;
      top:5px
      
  }
