.steps-content {
    margin-top: 16px;
    border: 1px dashed #e9e9e9;
    border-radius: 6px;
    background-color: #fafafa;
    min-height: 500px;
    text-align: center;
    padding-top: 80px;
  }
  
  .steps-action {
    margin-top: 24px;
    margin-left: 40%
  }

  .register1{
      margin-left: 30%;
      width: 40%;
  }

  .registercomponent{
    position: relative;
    top: 30px;
    margin-bottom: 40px;
    margin-right: 40px;
    float: right; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 500px
  }


  .ant-form{
    position: relative;
    padding: 10px
  }

  .registration_header{
    text-align: center;
    font-family:"Times New Roman"; 
    font-weight:bold; 
    font-size:40px; 
    color:#090; 
  }

  .ant-divider-horizontal{
    margin: 2px;
  }
